.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-color: hsl(0deg, 0%, clamp(8.5%, var(--light), 93%)); */
  --x: 0%;
  --y: 50%;
  --opacity: 1;
  --light: 0%;
  --angle: 0deg;
}

.app[data-state="day"] {
  background-color: var(--gray3);
  transition: all 1s ease;
}

.app[data-state="night"] {
  background-color: #101010;
  transition: all 1s ease;
}

.card {
  position: relative;
  display: flex;
  width: 400px;
  height: 200px;
  border-radius: 24px;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  padding: 32px;
}

.card[data-state="day"] {
  color: var(--gray12);
  --secondary-color: var(--gray11);
  --tertiary-color: var(--gray10);
  background: linear-gradient(calc(var(--angle) - 90deg), white 0%, white 100%)
      padding-box,
    linear-gradient(
        calc(var(--angle) - 90deg),
        hsl(0 0% 88.7% / 0.8) 0%,
        var(--gray2) 100%
      )
      border-box;
  border: 1px solid transparent;
  box-shadow: var(--boxShadow);
}

.card[data-state="night"] {
  color: var(--darkgray12);
  --secondary-color: var(--darkgray11);
  --tertiary-color: var(--darkgray10);
  background: linear-gradient(
        calc(var(--angle) - 90deg),
        var(--darkgray3) 0%,
        var(--darkgray2) 100%
      )
      padding-box,
    radial-gradient(
        100px 100px at var(--x) calc(var(--y)),
        hsl(0, 0%, clamp(11%, calc(-1 * var(--light)), 62.8%)) 0%,
        var(--darkgray2) 100%
      )
      border-box;
  border: 1px solid transparent;
  transition: background 1s ease;
}

[data-state="night"] > .glow {
  display: block;
}

.glow {
  display: none;
  --left: -10%;
  --top: -75%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(var(--top) + 50px);
  left: calc(var(--left) - 50px);
  background: white;
  opacity: var(--opacity);
  filter: blur(50px);
  border-radius: 9999px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.time {
  color: var(--secondary-color);
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location {
  color: var(--tertiary-color);
}

.button {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0px 0px 1px var(--gray7);
  letter-spacing: -0.5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 9999px;
  padding: 6px 12px;
  min-width: 120px;
  cursor: pointer;
}

.button[data-state="day"] {
  color: var(--gray12);
  background: linear-gradient(calc(var(--angle) - 90deg), white 0%, white 100%)
      padding-box,
    linear-gradient(
        calc(var(--angle) - 90deg),
        hsl(0 0% 88.7% / 0.8) 0%,
        var(--gray2) 100%
      )
      border-box;
  border: 1px solid transparent;
}

.button[data-state="night"] {
  color: var(--darkgray12);
  --secondary-color: var(--darkgray11);
  --tertiary-color: var(--darkgray10);
  background: linear-gradient(
        calc(var(--angle) - 90deg),
        var(--darkgray3) 0%,
        var(--darkgray2) 100%
      )
      padding-box,
    radial-gradient(
        50% 50% at var(--x) calc(var(--y)),
        hsl(0, 0%, clamp(11%, calc(-1 * var(--light)), 62.8%)) 0%,
        var(--darkgray2) 100%
      )
      border-box;
  border: 1px solid transparent;
  transition: background 1s ease;
}
